$fonts: "Lato", Arial, sans-serif;

//colors
$red: #990202;

//animations
@keyframes typing{
    0%{width: 0px;}
    100%{width: 100%;}
}

@keyframes blinking{
    0%{border-color: transparent;}
    50%{border-color: $red;}
}

@keyframes floating{
    0%{transform: translateY(0px);}
    25%{transform: translateY(10px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-10px);}
    100%{transform:translateY(0px);}
}