@import 'vars';

body{
    font-family: $fonts;
    font-size: 16px;
    color: #fff;
    background: url("../images/trash-bckgd.png"), linear-gradient(#91FFFC,#001355);
    background-repeat: no-repeat;
    background-position: top right;

    #divider{
        width: 100%;
        max-height: 50px;
    }
    
    #divider img{
        max-height: 100%;
    }
    
    .lg-title{
        font-size: 35px;
        letter-spacing: 17px; 
        text-transform: uppercase;
    }
    
    .xl{
        font-size: 45px;
        font-weight: 900;
        letter-spacing: 5px;
        color: $red;
    }

    @keyframes typing{
        0%{width: 0px;}
        100%{width: 100%;}
    }
    
    @keyframes blinking{
        0%{border-color: transparent;}
        50%{border-color: $red;}
    }
    
    @keyframes floating{
        0%{transform: translateY(0px);}
        25%{transform: translateY(10px);}
        50%{transform: translateY(0px);}
        75%{transform: translateY(-10px);}
        100%{transform:translateY(0px);}
    }
    
    .ani-text{
        max-width: 90%;
        overflow: hidden;
        border-right: 4px solid $red;
        animation: typing 2s steps(18, end), blinking 1s linear infinite;
    }
    
    .ani-opacity{
        opacity: 1;
    }
    
}